*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #727072;
}


main {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    display: grid;
    place-content: center;
    gap: 1rem;
    background-color: #D2D6EF;
}

.container{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    display: grid;
    place-content: center;
    padding: 5px;
}

input{
    display: inline;
    width: 200px;
    height: 30px;
}

.screen{
    width: 200px;
    height: 40px;
    display: inline-block;
    border: 1px solid #000;
    background-color: #fff;
}

/* .buttons{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 5px;
}  */


